Source: linux-odroid
Section: kernel
Priority: optional
Maintainer: Dongjin Kim <tobetter@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 4.8
Homepage: http://github.com/tobetter/linux

#
# Upstream Linux kernel release
#
Package: linux-image-odroid-upstream
Architecture: armhf arm64
Depends:
	linux-image-5.0.0-rc8-odroid-upstream-armmp [armhf],
	linux-image-5.0.0-rc8-odroid-upstream-arm64 [arm64],
Description: Upstream Linux kernel and modules
 The Linux kernel and modules for Hardkernel's SBC ODROID based on
 ARMv7/8 platforms.

Package: linux-headers-odroid-upstream
Architecture: armhf arm64
Depends:
	linux-headers-5.0.0-rc8-odroid-upstream-armhf [armhf],
	linux-headers-5.0.0-rc8-odroid-upstream-arm64 [arm64]
Description: All header files for upstream Linux kernel
 This package provides the architecutre-specific kernel header files for
 Hardkernel's SBC ODROID based on ARMv7/8 platforms.

#
# Long term support Linux kernel release
#
Package: linux-image-lts-odroid
Architecture: arm64
Depends:
	linux-image-4.14.35-odroid-armmp [armhf]
Description: Long-time support Linux kernel and modules
 The Linux kernel and modules for Hardkernel's SBC ODROID based on ARMv8
 platforms.

Package: linux-headers-lts-odroid
Architecture: arm64
Depends:
	linux-headers-4.14.35-all-odroid-armhf [armhf]
Description: All header files for long-time-support Linux kernel
 This package provides the architecutre-specific kernel header files for
 Hardkernel's SBC ODROID based on ARMv8 platforms.

#
# Board specific kernel image packages
#
Package: linux-image-odroidxu4
Architecture: armhf
Depends: linux-image-5.0.0-rc8-odroid-upstream-armmp [armhf],
Description: Upstream Linux kernel and modules
 The Linux kernel and modules for Hardkernel's SBC ODROID based on
 ARMv7/8 platforms.

Package: linux-headers-odroidxu4
Architecture: armhf
Depends: linux-headers-5.0.0-rc8-odroid-upstream-armhf [armhf]
Description: All header files for upstream Linux kernel
 This package provides the architecutre-specific kernel header files for
 Hardkernel's SBC ODROID based on ARMv7/8 platforms.

Package: linux-image-odroidc2
Architecture: arm64
Depends: linux-image-5.0.0-rc8-odroid-upstream-arm64 [arm64],
Description: Kernel package for ODROID-C3
 The Linux kernel and modules for Hardkernel's SBC ODROID based on ARMv8
 platforms.

Package: linux-headers-odroidc2
Architecture: arm64
Depends: linux-headers-5.0.0-rc8-odroid-upstream-arm64 [arm64]
Description: Kernel package for ODROID-C3
 This package provides the architecutre-specific kernel header files for
 Hardkernel's SBC ODROID based on ARMv8 platforms.

Package: linux-image-odroidc3
Architecture: arm64
Depends: linux-image-4.9.141-odroidn2-arm64 [arm64]
Description: Kernel package for ODROID-C3
 The Linux kernel and modules for Hardkernel's SBC ODROID based on ARMv8
 platforms.

Package: linux-headers-odroidc3
Architecture: arm64
Depends: linux-headers-4.9.141-odroidn2-arm64 [arm64]
Description: Kernel package for ODROID-C3
 This package provides the architecutre-specific kernel header files for
 Hardkernel's SBC ODROID based on ARMv8 platforms.

Package: linux-image-odroidn2
Architecture: arm64
Depends: linux-image-4.9.160-odroidn2-arm64 [arm64]
Description: Kernel package for ODROID-N2
 The Linux kernel and modules for Hardkernel's SBC ODROID based on ARMv8
 platforms.

Package: linux-headers-odroidn2
Architecture: arm64
Depends: linux-headers-4.9.160-odroidn2-arm64 [arm64]
Description: Kernel package for ODROID-N2
 This package provides the architecutre-specific kernel header files for
 Hardkernel's SBC ODROID based on ARMv8 platforms.
